img {
  background-image: linear-gradient(transparent, black);
}

mat-card {
  margin-bottom: 2%;
}

.container {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.price {
  margin-right: 1.5%;
}
