<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" fixedInViewport="true">
        <app-sidenav-list (sideNavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (sideNavToggle)="sidenav.toggle()" data-e2e="app-header"></app-header>
    </mat-sidenav-content>
</mat-sidenav-container>

<section class="hero" data-e2e="hero-image">
    <div class="hero-text" data-e2e="hero-text">Find a home that suits your lifestyle</div>
</section>

<main>
    <ng-container *ngIf="!hasLoaded then loading else displayError"></ng-container>
    <ng-template #displayError>
        <ng-container *ngIf="hasError then error else displayListingInfo"></ng-container>
    </ng-template>
    <ng-template #displayListingInfo>
        <ng-container *ngIf="hasLoaded && listings && listings.length > 0 then listingInfo else noListingsFound"></ng-container>
    </ng-template>
    
    <ng-template #loading>
        <mat-spinner class="spinner"></mat-spinner>
    </ng-template>
    <ng-template #error>
        <div class="error" data-e2e="error-block">
            <span>There was an error while trying to retrieve the listings. Please click the button below to retry.</span>
            <div><button class="retry-button" mat-raised-button color="primary" (click)="retry()">Retry</button></div>
        </div>
    </ng-template>
    <ng-template #listingInfo>
        <div class="listings">
            <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
                <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" *ngFor="let listing of listings">
                    <app-listing-details [listing]="listing"></app-listing-details>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #noListingsFound><div class="no-listings-found" data-e2e="no-listings">No listings found.</div></ng-template>
</main>

<div class="footer-wrapper">
    <footer class="page-footer"></footer>
</div>