<mat-nav-list>
    <a mat-list-item href="#" (click)="onSideNavClose()">
        <mat-icon>home</mat-icon><span class="nav-caption">Home</span>
    </a>
    <a mat-list-item href="#" (click)="onSideNavClose()">
        <mat-icon>attach_money</mat-icon><span class="nav-caption">Sales</span>
    </a>
    <a mat-list-item href="#" (click)="onSideNavClose()">
        <mat-icon>business_center</mat-icon><span class="nav-caption">Rentals</span>
    </a>
    <a mat-list-item href="#" (click)="onSideNavClose()">
        <mat-icon>info</mat-icon><span class="nav-caption">About</span>
    </a>
    <a mat-list-item href="#" (click)="onSideNavClose()">
        <mat-icon>perm_identity</mat-icon><span class="nav-caption">Team</span>
    </a>
    <a mat-list-item href="#" (click)="onSideNavClose()">
        <mat-icon>perm_phone_msg</mat-icon><span class="nav-caption">Contact Us</span>
    </a>
</mat-nav-list>